<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}} &middot; Last Life</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/logo.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/ll-social-icons/font.css"}}" />
    {{#is "post"}}<script>var videoHash;</script>{{/is}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- SelfStyle --}}
        <div id="sest-toggle"><i class="ll-social-icon icon-palette"></i></div>
        <div id="selfstyle">
            <div class="sest-body">
                <div class="sest-header">SelfStyle <button id="sest-close-btn" type="button">&times;</button></div>
                <form id="sest-form">
                    <div class="sest-form-row">
                        <label for="text-brightness-range">Text Brightness</label>
                        <input class="sest-field" id="text-brightness-range" type="range" min="0" max="255" step="1" value="204" data-sel=".post-card-content-link, .post-card-meta, .page-description, .post-full-content, .selfstyle, .post-full-content em, .post-full-content strong, .post-full-content h1, .post-full-content h2, .post-full-content h3, .post-full-content h4, .post-full-content h5, .post-full-content h6" data-prop="color">
                    </div>
                    <div class="sest-form-row">
                        <label for="bg-article">Article background: </label>
                        <input class="sest-field jscolor {onFineChange:'updateJsColor(this)', borderColor:'#2a2e47', insetColor:'#2a2e47', backgroundColor:'#1a1d2f'}" readonly="true" id="bg-article" data-sel=".post-full-content, .page-content" data-prop="background" value="1a1d2f">
                    </div>
                    <div class="sest-form-row">
                        <label for="bg-article">Link color: </label>
                        <input class="sest-field jscolor {onFineChange:'updateJsColor(this)', borderColor:'#2a2e47', insetColor:'#2a2e47', backgroundColor:'#1a1d2f'}" readonly="true" id="link-color" data-sel=".post-full-content a, .page-content a" data-prop="color" value="1b83bb">
                    </div>
                    <span>RPG Box Background Gradient</span>
                    <div class="sest-form-row">
                        <div class="sest-field-group">
                            <div class="sest-form-row">
                                <label for="bg-grad-start">Color Start: </label>
                                <input id="bg-grad-start" data-sel=".rpg-box" data-fg="1" data-prop="grad-background" class="jscolor {onFineChange:'updateJsColor(this)', borderColor:'#2a2e47', insetColor:'#2a2e47', backgroundColor:'#1a1d2f'}" value="222942">
                            </div>
                            <div class="sest-form-row">
                                <label for="bg-grad-end">Color End: </label>
                                <input id="bg-grad-end" data-sel=".rpg-box" data-fg="1" data-prop="grad-background" class="jscolor {onFineChange:'updateJsColor(this)', borderColor:'#2a2e47', insetColor:'#2a2e47', backgroundColor:'#1a1d2f'}" value="1a1d2f">
                            </div>
                        </div>
                    </div>
                    <button type="submit">Save</button>
                    <button type="reset">Reset</button>
                </form>
            </div>
        </div>

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></section>
                <nav class="site-footer-nav">
                    <a href="{{@blog.url}}">Latest Posts</a>
                </nav>
            </div>
        </footer>

    </div>
    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script>
        // maxPages is a global variable that is needed to determine
        // if we need to load more pages for the infinitescroll, or if
        // we reached the last page already.
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}
    
	<script type="text/javascript">$("#postsLink").attr('href','/browse-posts');</script>

    {{!-- SelfStyle --}}
    <script type="text/javascript" src="{{asset "built/sest.js"}}"></script>
    <script type="text/javascript" src="{{asset "built/jscolor.js"}}"></script>
    <script type="text/javascript" src="{{asset "built/modernizr.js"}}"></script>
    <script type="text/javascript">
        if (Modernizr.touchevents) {
            $("#selfstyle input.jscolor").attr('readonly', 'readonly');
        }
    </script>

    {{!-- We only need Skrollr for the index page. --}}
    {{#is "index"}}
    <script type="text/javascript" src="{{asset "/js/skrollr.min.js"}}"></script>
	<script type="text/javascript">
	    var s = skrollr.init();
        if (s.isMobile() || $(window).width() <= 679) {
            s.destroy();
        }
        document.body.style.visibility = "visible";
	</script>
    {{/is}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
