{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "header"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
    
        <header class="post-full-header">
            <h1 class="post-full-title">About Last Life</h1>
        </header>

        <section class="page-description">
            <p>Last Life is an online community that aims to foster thoughtful discussion of games and the 
            many ways that they enrich our lives. The site itself is host to a collection of such content, 
            typically in the form of video essays by our team of <a href="#creators">content creators</a>.
            We also have a dedicated <a href="/forum/">forum</a> for in-depth discussion with other users 
            on a wide variety of topics.</p>
            <p>Of course, no gaming community is complete without a Discord server, and you can find ours 
            <a href="#DISCORDLINK">right here</a>.</p>
            <p>Stay tuned here or on <a href="#links">our social media channels</a> for community game 
            nights, special live streams, major site updates, and other goings-on.</p>
        </section>

        <section id="creators">
            <h3>Creators</h3>

            {{#get "users" limit="all" order="created_at asc"}}
            <div class="icons-container">
                {{#foreach users}}
                <figure class="user-figure">
                    <a href={{url}}><img class="profile-icon" src="{{img_url profile_image}}" data-prof-id="{{id}}"></a>
                    <figcaption class="user-caption lg-hidden">{{name}}</figcaption>
                </figure>
                {{/foreach}}
            </div>
            <div id="profiles-container" class="profiles-container-bottom hidden-md">
                {{#foreach users}}
                <div id="profile-{{id}}" class="creator-profile">
                    <span class="rpg-box text-emphasis creator-name">{{name}}</span>
                    <div class="rpg-box text-emphasis creator-bio">{{bio}}</div>
                </div>
                {{/foreach}}
            </div>
            {{/get}}
        </section>

        <section id="inks">
            <div class="social-media-links">    
                <a href="https://twitter.com/lastlifedotnet" class="twitter" tooltip="Twitter: lastlifedotnet"><i class="ll-social-icon icon-twitter"></i></a>
                <a href="#MastadonInstanceLink" class="Mastadon" tooltip="Mastadon: lastlifedotnet@[get an instance here]"><i class="ll-social-icon icon-mastadon"></i></a>
                <a href="#youtubechannel" class="youtube" tooltip="YouTube"><i class="ll-social-icon icon-youtube"></i></a>
                <a href="#steamgrouplink" class="steam" tooltip="Last Lifers Steam Group"><i class="ll-social-icon icon-steam"></i></a>
            </div>
        </section>

    </div>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
$(document).ready((function() {
    var currentIcon = null;
    $(".profile-icon").hover(function(){
        currentIcon = $(this);
        if ((currentIcon.offset().top - $(window).scrollTop()) > window.innerHeight / 2) {
            $("#profiles-container").addClass("profiles-container-top");
            $("#profiles-container").removeClass("profiles-container-bottom");
        } else {
            $("#profiles-container").addClass("profiles-container-bottom");
            $("#profiles-container").removeClass("profiles-container-top");
        }
        $(".creator-profile").stop().hide();
        var selector = $.escapeSelector($(this).data("prof-id"));
        $("#profile-"+selector).fadeIn();
    }, function() {
        var selector = $.escapeSelector($(this).data("prof-id"));
        $(".creator-profile").hide();
    });
}));
</script>
{{/contentFor}}