{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "header"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
    
        <header class="post-full-header">
            <h1 class="post-full-title">Creators</h1>
        </header>

        <div class="page-content">
            <section class="page-description">
                <p>Here, you'll find Last Life's team of content creators. Click on an icon to view that creator's profile.</p>
            </section>
        </div>

        {{#get "users" limit="all" order="created_at asc"}}
        <div class="icons-container">
            {{#foreach users}}
            <figure class="user-figure">
                <a href={{url}}><img class="profile-icon" src="{{img_url profile_image}}" data-prof-id="{{id}}"></a>
                <figcaption class="user-caption"><span class="lg-hidden">{{name}}</span><noscript>{{name}}</noscript></figcaption>
            </figure>
            {{/foreach}}
        </div>
        <div id="profiles-container" class="profiles-container-bottom hidden-md">
            {{#foreach users}}
            <div id="profile-{{id}}" class="creator-profile">
                <span class="rpg-box text-emphasis creator-name">{{name}}</span>
                <div class="rpg-box text-emphasis creator-bio">{{bio}}</div>
            </div>
            {{/foreach}}
        </div>
        {{/get}}

    </div>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script type="text/javascript" src="{{asset 'js/creators.js'}}"></script>
{{/contentFor}}